global
    maxconn 100000
    log /dev/log local0

defaults
    mode tcp
    timeout connect 3s
    timeout client 1h
    timeout server 1h

frontend in_443
    bind *:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }
    default_backend to_internet_443

backend to_internet_443
    mode tcp
    server internet 0.0.0.0:443

frontend in_80
    bind *:80
    mode tcp
    default_backend to_internet_80

backend to_internet_80
    mode tcp
    server internet 0.0.0.0:80
