global
    maxconn 100000

defaults
    mode tcp
    timeout connect 3s
    timeout client 1h
    timeout server 1h

frontend relay_443
    bind *:443
    mode tcp
    default_backend to_exit_443

backend to_exit_443
    mode tcp
    server exit_node EXIT_IP_HERE:443 check inter 2000

frontend relay_80
    bind *:80
    mode tcp
    default_backend to_exit_80

backend to_exit_80
    mode tcp
    server exit_node EXIT_IP_HERE:80 check
